* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    padding: 20px;
    color: whitesmoke;
    border-bottom: none;
    position: absolute;
}

header h3 {
    padding-top: 20px;
    font-weight: normal;
}

aside {
    background-color: #4e6172;
    padding: 20px;
    color: whitesmoke;
    width: 15%;
    float: right;
    z-index: 10;
    position: relative;
    top: 0;
    height: 900px;
}

nav {
    padding-top: 100px;
}

nav ul li {
    padding-right: 40px;
    padding-bottom: 50px;
    list-style: none;
}

.hero {
    background-image: url("../resources/zack-valleyoffire.JPG");
    height: 900px;
    width: 100%;
    background-size: cover;
    position: absolute;
    z-index: 0;

}