* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Changa', sans-serif;
}

header {
    padding: 20px;
    color: rgb(92, 92, 92);
    position: fixed;
    z-index: 4; 
    font-family: 'Changa';
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    width: 80%;
    flex-wrap: wrap;
}

header h3 {
    padding-top: 20px;
    font-weight: normal;
    display: flex;
    flex: 1;
}

aside {
    background-color: #4e6172a9;
    padding: 20px;
    width: 15%;
    z-index: 10;
    position: fixed;
    right: 0;
    height: 100vw;
    display: flex;
    justify-content: flex-end;
    min-width: 200px; 
}

nav {
    padding-top: 100px;
}

nav ul li {
    list-style: none;
    padding-bottom: 80px;
}

nav ul li a {
    padding-right: 40px;
    list-style-type: none;
    font-size: 25px;
    color: whitesmoke;
    text-decoration: none;
    flex-shrink: 2;
}


nav ul li a:hover {
    color: #36454f; 
}

.hero {
    background-image: url("../resources/zack-valleyoffire.JPG");
    height: 100vh;
    width: 100%;
    background-size: cover;
    z-index: 0;
    position: fixed;
}

main {
    position: relative;
    top: 400px;
    z-index: 1;
}

section {
    padding-left: 100px;
    color: whitesmoke;
    width: 75%;
}

section h2 {
    text-decoration: underline;
    padding: 40px 0;
}

.contact ul li {
    display: inline;
    padding-right: 50px;
    padding-bottom: 50px;
    font-size: 20px;
}

.contact li a {
    color: whitesmoke;
    text-decoration: none;
}

.contact li a:hover {
    color: #36454f;
}

.projects-container h4 {
    text-align: center;
}

.projects img {
   width: 20%;
}

.projects img:hover {
    transform: scale(1.5);
}

@media only screen and (max-width: 480px) {
    body {
        width:100%;
    }
    header {
        position: relative;
        width: 100%;
    }

    header h3 {
        width: 100%;
    }

    aside {
        display: none;
    }

    .hero {
        display: none;
    }
}